*{
    font-family: cursive;
}

.intro{   
    background-color: aquamarine; 
}

#winston{
    background-color: rgb(165,42,42)  
}

code{
    background-color: #ff33cc;
}

a[href*="ucsd"]{
    background-color: #aaa;
}

q:hover {
    color:	hsl(75, 100%, 60%)
}