/* I love CSS */
*{
    font-family: 'Noto Sans KR', sans-serif;
}

#title{
    font-size: 3em;
    text-align: center;
}

.intro{   
    background-color: orange; 
}

#winston{
    background-color: rgb(165,42,42);
    
}

code{
    background-color: #ff33cc;
}

a[href*="canvas"]{
    background-color: #aaa;
}



q:hover {
    color:	hsl(75, 100%, 60%)
}

h2, h3{
    background-color: hsl(165, 100%, 60%, 0.3)
}
ul li{
    background-color: rgb(255, 51, 51, 0.8);
}
details > summary{
    border-style: solid;
    border-color:cornflowerblue;
}

summary ~ pre{
    border-style: double;
    border-width: 5px;
    border-radius: 1in;
    max-width: 50%;
}

h1 + p{
    text-align:center;
    text-decoration: underline
}

h2.lists{
    color:plum
}


#courses{
    display: grid;
    margin-top: 5px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5px;
    grid-row-gap: 50px;
    justify-items: start;
    justify-content: end
}

form{
    margin:2em
}

.skills{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap
}

.skill{
    background: violet;
    width: 50%;
    height: 50%
}


#cat1{
    padding:5px
}

video{
    padding-left: 500px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
}

b{
    display: block;
}

#schedule{
    display: none;
}
table{
    margin:auto;
    min-width: 100%;
}

audio{
    position: fixed
}

button{
    position: absolute;
}

a:active{
    background-color: blanchedalmond;
}

@media only screen and (max-width:500px){
    .intro{
        background-color: blueviolet;
    }
}